<div  id="down">
    <div class=" contant" ng-init="show=false">
        <ul  ng-repeat="m in movies  |filter:input" class="col-md-3 col-sm-4 col-xs-12" ng-mouseenter="show=true" ng-mouseleave="show=false">
            
             <a href="#!/{{m.about.id}}">
            <li class="card-block"><img src="images/movies/{{m.about.img}}" style="height:350px"></li>
            <li >  <h4>{{m.about.title}}</h4></li>
            <li>
                <ul ng-show="show" class="contant2 movies talkbubble">

                <li class="title">{{m.about.title}}</li>
                <li> {{m.about.type}}</li>
                <li> {{m.about.director}}</li>
                <li>{{m.about.desc}}</li>
                <li><span >
                        <li class="star" ng-repeat="Star in [1,2,3,4,5]">
                        <div ng-switch=" {{m.about.rating}}>= Star">
                            <div ng-switch-when="true">
                                <img src="images/star.png" class="star" />
                            </div>
                            <div ng-switch-when="false">
                                <div ng-switch="{{m.about.rating}} > (Star-1)">
                                    <div ng-switch-when="true">
                                        <img src="images/Star-Half.png" class="star" />
                                    </div>
                                    <div ng-switch-when="false">
                                        <img src="images/empty.png" class="star" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    </span>
                   </li>
                </ul>    
            </li>
            </a>
         </ul>    
         
        </div>
    </div>
    
        

