<div class="theater-blur"></div>
<div class="col-xs-12 theater" ng-module="value=">
    <a ng-click="hide_nave()" href="#!/{{id}}"><span id="close">X</span></a>
    <div class="row1" >
        
        <div ng-click="add($event)" key={{theater.about_cinma.chair[0].chair_id}}>{{theater.about_cinma.chair[0].status}}</div>
        <div ng-click="add($event)" key={{theater.about_cinma.chair[1].chair_id}}>{{theater.about_cinma.chair[1].status}}</div>
        <div ng-click="add($event)" key={{theater.about_cinma.chair[2].chair_id}}>{{theater.about_cinma.chair[2].status}}</div>
        <div ng-click="add($event)" key={{theater.about_cinma.chair[3].chair_id}}>{{theater.about_cinma.chair[3].status}}</div>
    
    </div>
    <div class="row2">
        <div ng-click="add($event)" key={{theater.about_cinma.chair[4].chair_id}} class="col-lg-1">{{theater.about_cinma.chair[4].status}}</div>
        <div ng-click="add($event)" key={{theater.about_cinma.chair[5].chair_id}} class="col-lg-1">{{theater.about_cinma.chair[5].status}}</div>
        <div ng-click="add($event)" key={{theater.about_cinma.chair[6].chair_id}} class="col-lg-1">{{theater.about_cinma.chair[6].status}}</div>
    </div>
    
    
    
   <img src="images/cinma/1.jpg">
    
    
    

</div>




